/* MusicRate2 CSS 3 */
/* /MusicRate2/musicrate/static/css/styles.css */
body{
	font-family: futura, sans-serif;
	padding-top: 70px;
	background-color: #333333;
	color: white;
}
h1, h2, h3, h4, h5, p, a{
	color: white;
}

.row {
	padding:5px;
}

table a, .row a {
	text-shadow: 1px 1px #000000;
	border-bottom: 1px solid #000000;
	padding-bottom: 1px
}

.carousel-caption h5, p {
	text-shadow: 2px 2px #000000;
}

.fullwidth{
	width=100%;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-pills{
	background: rgba(255,255,255,0.1);
	margin: .25rem;
    border-radius: .25rem;
    padding: .25rem;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.dataTables_length label{
	white-space: nowrap;
}
.dataTables_filter label{
	display: inline-flex;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.content {
}
h1, h2, h3, h4 {
    font-family: 'futura', sans-serif;
}
.review{
	background-color: #333333;
}
.search-result{
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
}