{% extends 'musicrate/base.html' %}

{% block content %}
	<!-- Script handling data tables -->
	<script>
		$(document).ready(function() {
		    $('#review_table').DataTable( {
		    	// "dom": '<"row"<"col-md-9 per-page"l><"col-md-3 filter"f>>t<"row"<"col-md-9"i><"col-md-3"p>>',
		    	"dom": '<"float-md-left"l><"float-md-right"f>t<"float-md-left"i><"float-md-right"p>',
		    	"oLanguage": 
		    	{
      				// "sLengthMenu": "Per page: _MENU_",
		    		"sSearch": "Filter: "
		    	}
		    } );
		} );
	</script>


	<div class='row'>
		<div class='col-md-12 text-center'>
			<h4>{{ title }}</h4>
			<h5>{{ description }}</h5>
		</div>
	</div>
	<table id="review_table" class="table table-dark table-hover table-bordered">
		<thead>
            <tr>
                <th>Art</th>
                <th class="d-none d-sm-table-cell">Album</th>
                <th class="d-none d-sm-table-cell">Artist</th>
                <th>User</th>
                <th>Rating</th>
                <th class="d-none d-sm-table-cell">Comments</th>
                <th class="d-none d-sm-table-cell">Updated</th>
            </tr>
        </thead>
        <tbody>
    	{% for review in reviews %}
    		<tr>
    			<!-- Album art -->
    			<td>
    				<a href="/review/{{ review.pk }}">
    					<img height="75px" width="75px" src="{{ review.album.art_url }}"/>
    				</a>
    			</td>
    			<!-- Album name -->
    			<td class="d-none d-sm-table-cell">
    				<a href="/album/{{ review.album.spotify_id }}">
        				{{ review.album }}
        			</a>
    			</td>
    			<!-- Album Artist -->
    			<td class="d-none d-sm-table-cell">
    				<a href="/artist/{{ review.album.artist_slug }}">
    					{{ review.album.artist }}
    				</a>
    			</td>
    			<!-- Review Author -->
    			<td>
    				<a href="/user/{{ review.author }}">
    					{{ review.author }}
    				</a>
    			</td>
    			<!-- Review Rating -->
    			<td>
    				<a href="/review/{{ review.pk }}">
        				{{ review.rating }}
        			</a>
    			</td>
    			<!-- Comments (if any) -->
    			<td class="d-none d-sm-table-cell">
    				<a href="/review/{{ review.pk }}">
        				{% if review.comment %}
					    	"{{ review.comment }}"
				    	{% endif %}
				    </a>
    			</td>
    			<!-- Update timestamp -->
    			<td class="d-none d-sm-table-cell">
    				<a href="/review/{{ review.pk }}">
        				{{ review.updated }}
        			</a>
    			</td>
    		</tr>
    	{% endfor %}
        </tbody>
	</table>
{% endblock %}
