{% extends 'musicrate/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Edit review</h2>            
        </div>
    </div>

    <div class="row">
        <!-- Album image -->
        <div class="col-md-6 text-center">
                <img height="200" width="200" src="{{ album.art_url }}">
        </div>
        <!-- Album title and artist -->
        <div class="col-md-6 text-center my-auto">
            <H3>{{ album.title }}</H3>
            <H4>{{ album.artist }}</H4>
        </div>
    </div>

    <form method="POST" class="post-form">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{ form.album.as_hidden }}
            </div>
            <div class="col-md-12 text-center">
                <H5>
                    {{ form.rating.label }}:
                </H5>
                {{ form.rating }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <H5>
                    {{ form.comment.label }}:
                </H5>
                {{ form.comment }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
     </form>
{% endblock %}